body{
    background: #ffffff;
}
.titulo{
    text-align: center;
}

.titulo{
    text-align: center;
}
.menu{
    background: rgb(216, 208, 208);
    margin-top: 80px;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
}

.slider{
    width: 40%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0%;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
}

.slider li{
    list-style: none; 
    width: 100%;
}
.slider img{
    width: 100%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}   
}